<%- include("../header") -%>




<%- include("../navigation") -%>


<main>
    <section class="ml-section-hero">
      <div class="ml-landing ml-landing-left">
           
                <div class="ml-heading">
                 
                    <span class="head-machine">APP</span>
                    <span class="head-learning">DEVELOPMENT</span>
                </div>
                <div class="ml-desc">
                <h5>To help you on Your Educational Path, We’ve identified books,Videos and Online courses that will uplevel your
                    Abilities and prepare you to use App Development for your projects. Start with our guided curriculums designed to increase
                    your knowledge or choose your own path by exploring our resource library.
                </h5>
               </div> 

      </div>
      <div class="ml-landing ml-landing-right">
       <img src="/images/ml-front.svg" alt="">

      </div>

    </section>

    <section class="ml-navigator">
        <div class="ml-navigator-elements">
            <img height="156px" width="156px" src="/images/books.svg" alt="">
            <h2>Books</h2>
        </div>
        <div class="ml-navigator-elements">
            <img height="156px" width="156px" src="/images/courses.svg" alt="">
            <h2>Courses</h2>
        </div>
        <div class="ml-navigator-elements">
            <img height="156px" width="156px" src="/images/videos.svg" alt="">
            <h2>Videos</h2>
        </div>
        <div class="ml-navigator-elements">
            <img height="156px" width="156px" src="/images/tests.svg" alt="">
            <h2>Tests</h2>
        </div>
    </section>


    <section class="area-of-ml">
        <div class="area-ml-left">
              <img src="/images/area-photo.svg"     height="400px" width="400px" alt="">
        </div>

        <div class="area-ml-right">
                <div class="four-areas">The Four Areas of App Development Education</div>

                <div class="four-points">
                    <li>Pre Design: Pre-design is the first stage of the app development
                     process, where we take a project from the initial brief into a
                     workable strategy.
                    </li>

                    <li>Design: Once you have completed the pre-design stage and you’ve
                        got the full recommendation of approach, you’re ready to
                        move onto design.
                    </li>

                    <li>
                        Development: Having completed the pre-design and design stages, now
                        it’s time to actually build it. The design stage should have
                        provided you with a wireframe, showing all of the app’s
                        screens and how they connect.
                    </li>

                    <li>
                         Support:  Having completed each of the stages outlined so far in this
                         guide, you should now have a live app which your target
                         audience has started using.
                    </li>
                </div>
        </div>
    </section>
     

    <section class="road-map">

            <div class="road-map-text">
                <h2>Ready To Start App Development ?</h2>
                <p>Learn and apply fundamental App Development concepts with the Crash Course, get real-world experience with the companion Kaggle competition, or visit Learn with Google AI to explore the full library of training resources.</p>

            </div>

            <a href="" target="_blank">
            <div> <button class="btn-roadmap">
                Road Map
            </button> </div>
            </a>

    </section>

    <section class="ml-courses ml-section">
        
        <div>
            <h1>ONLINE COURSES ON APP DEVELOPMENT</h1>
        </div>
        <div>

            <div class="ml-courses">
                <a href="https://www.udemy.com/course/the-complete-android-10-developer-course-mastering-android/"  target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/appDev/ap-course1.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/programmatic-uber-clone-swift-firebase-no-storyboards/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/appDev/ap-course2.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/essential-guide-to-making-apps-without-prior-experience/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/appDev/ap-course3.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/build-real-world-app-in-xamarin-forms/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/appDev/ap-course4.jpg" alt="">
                   </div>
                </a>

            </div>


            <div class="ml-courses">
                <a href="https://www.udemy.com/course/iphone-developer-course/" target="_blank">
                 <div class="ml-courses-elements">
                     <img src="/images/appDev/ap-course5.jpg" alt="">
                 </div>
                </a>

                <a href="https://www.udemy.com/course/building-and-testing-ussd-and-sms-applications-ussd-and-sms-gateway/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/appDev/ap-course6.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/develop-your-first-app-in-android-studio-using-firebase/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/appDev/ap-course7.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/apps-without-coding/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/appDev/ap-course8.jpg" alt="">
                   </div>
                </a>
            </div>

        </div>
    </section>


    <section class="ml-courses-youtube ml-section">

        <div>
            <h1>TOP FREE COURSES</h1>
        </div>
        
            <div class="ml-courses-youtube">
                   <div class="ml-courses-elements">
                    <iframe style="border-radius: 10px;" width="309px" height="225px" src="https://www.youtube.com/embed/u64gyCdqawU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   </div>

                   <div class="ml-courses-elements">
                    <iframe style="border-radius: 10px;" width="309px" height="225px" src="https://www.youtube.com/embed/mXjZQX3UzOs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   </div>

                   <div class="ml-courses-elements">
                    <iframe style="border-radius: 10px;" width="309px" height="225px" src="https://www.youtube.com/embed/fis26HvvDII" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   </div>
                   <!-- <div class="ml-courses-elements"></div> -->
                  

            </div>
        
    </section>


    <section class="books">

        <div class="col">
            <div class="col-elements">
                <div class="img">
                    <img src="" alt="">
                </div>
                <div class="bookname"></div>
            </div>

            <div class="col-elements">
                 <div class="img"></div>
                <div class="bookname" ></div>
            </div>

            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>

        </div>
        <div class="col">
            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>

            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"  ></div>
            </div>

            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>
        </div>
        <div class="col">
            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>
            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>
            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>
        </div>
    </section>

    <section class="test">

    </section>
</main>
<%- include("../footer") -%>


