<%- include("../header") -%>




<%- include("../navigation") -%>


<main>
    <section class="ml-section-hero">
      <div class="ml-landing ml-landing-left">
           
                <div class="ml-heading">
                 
                    <span class="head-machine">CYBER</span>
                    <span class="head-learning">SECURITY</span>
                </div>
                <div class="ml-desc">
                <h5>To help you on Your Educational Path,We’ve identified books,Videos and Online courses.That will  uplevel your
                    Abilities and prepare you to use Cyber Security for your projects. start with our guided curriculums designed to increase
                     your knowledge , or choose your own path by exploring our resource library.
                </h5>
               </div> 

      </div>
      <div class="ml-landing ml-landing-right">
       <img src="/images/ml-front.svg" alt="">

      </div>

    </section>

    <section class="ml-navigator">
        <div class="ml-navigator-elements">
            <img height="156px" width="156px" src="/images/books.svg" alt="">
            <h2>Books</h2>
        </div>
        <div class="ml-navigator-elements">
            <img height="156px" width="156px" src="/images/courses.svg" alt="">
            <h2>Courses</h2>
        </div>
        <div class="ml-navigator-elements">
            <img height="156px" width="156px" src="/images/videos.svg" alt="">
            <h2>Videos</h2>
        </div>
        <div class="ml-navigator-elements">
            <img height="156px" width="156px" src="/images/tests.svg" alt="">
            <h2>Tests</h2>
        </div>
    </section>


    <section class="area-of-ml">
        <div class="area-ml-left">
              <img src="/images/area-photo.svg"     height="400px" width="400px" alt="">
        </div>

        <div class="area-ml-right">
                <div class="four-areas">The Four Areas of Cyber Security</div>
                <div class="four-points">
                    <li>Acquire Relevant Technical and Soft Skills: Specific technical skills 
                        are prerequisites for becoming successful and sought-after cyber 
                        security professionals. Therefore, you must acquire these technical skills
                         and be good at them.
                       </li>
   
                       <li>Gain Practical Experience: Once you have the relevant degree, 
                        the required technical skills and subject-matter expertise, it is time
                         to gain some hands-on experience in the field. First, search for
                          internships or training programs where you get to work on live projects in
                           a real-time setup.
                       </li>
   
                       <li>
                           Get Relevant Certifications: It is one of the most critical aspects
                            of the cyber security career pathway. Therefore, securing the relevant
                             certifications help.
                       </li>
   
                       <li>
                        Read Books To Upgrade Your Knowledge: In addition, you can read the 
                        following books to upgrade your knowledge of the domain: Cybersecurity For Dummies- This book
                         will help you comprehend cybersecurity fundamentals, including various cybersecurity hazards, 
                         ethical hacking, etc.
                       </li>
                </div>
        </div>
    </section>
     

    <section class="road-map">

            <div class="road-map-text">
                <h2>Ready To Start Cyber Security  ?</h2>
                <p>Learn and apply fundamental cyber security concepts with the Crash Course, get real-world experience with the companion Kaggle competition, or visit Learn with Google AI to explore the full library of training resources.</p>

            </div>
            <div> <button class="btn-roadmap">
                Road Map
            </button> </div>






    </section>

    <section class="ml-courses ml-section">

        
        <div>
            <h1>ONLINE COURSES ON CYBER SECURITY</h1>
        </div>
        <div>

            <div class="ml-courses">
                <a href="https://www.udemy.com/course/the-complete-internet-security-privacy-course-volume-1/"  target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/Cybs/cs-course1.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/cybersecurity-from-beginner-to-expert/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/Cybs/cs-course2.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/the-absolute-beginners-guide-to-information-cyber-security/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/Cybs/cs-course3.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/cyber-security-for-absolute-beginners-essential-concepts/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/Cybs/cs-course4.jpg" alt="">
                   </div>
                </a>
                  

            </div>

            <div class="ml-courses">
                <a href="https://www.udemy.com/course/1m-cyber-security-awareness/" target="_blank">
                 <div class="ml-courses-elements">
                     <img src="/images/Cybs/cs-course5.jpg" alt="">
                 </div>
                </a>

                <a href="https://www.udemy.com/course/ethicalhackingcourse/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/Cybs/cs-course6.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/applied-ethical-hacking-and-rules-of-engagement/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/Cybs/cs-course7.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/information-security-a-z-bootcamp/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/Cybs/cs-course8.jpg" alt="">
                   </div>
                </a>
            </div>

        </div>
    </section>


    <section class="ml-courses-youtube ml-section">

        
        <div>
            <h1>TOP FREE COURSES</h1>
        </div>
        

            <div class="ml-courses-youtube">
                   <div class="ml-courses-elements">
                    <iframe style="border-radius: 10px;" width="309px" height="225px" src="https://www.youtube.com/embed/yr1Psapupsc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   </div>

                   <div class="ml-courses-elements">
                    <iframe style="border-radius: 10px;" width="309px" height="225px" src="https://www.youtube.com/embed/fd0L1IousZU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   </div>

                   <div class="ml-courses-elements">
                    <iframe style="border-radius: 10px;" width="309px" height="225px" src="https://www.youtube.com/embed/nL2vHJ53Wr4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   </div>
                   <!-- <div class="ml-courses-elements"></div> -->
                  

            </div>

            
        
    </section>


    <section class="books">

        <div class="col">
            <div class="col-elements">
                <div class="img">
                    <img src="" alt="">
                </div>
                <div class="bookname"></div>
            </div>

            <div class="col-elements">
                 <div class="img"></div>
                <div class="bookname" ></div>
            </div>

            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>

        </div>
        <div class="col">
            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>

            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"  ></div>
            </div>

            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>
        </div>
        <div class="col">
            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>
            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>
            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>
        </div>
    </section>













    <section class="test">

    </section>
</main>
<%- include("../footer") -%>


