<%- include("../header") -%>




<%- include("../navigation") -%>


<main>
    <section class="ml-section-hero">
      <div class="ml-landing ml-landing-left">
           
                <div class="ml-heading">
                 
                    <span class="head-machine">MACHINE</span>
                    <span class="head-learning">LEARNING</span>
                </div>
                <div class="ml-desc">
                <h5>To help you on Your Educational Path,We’ve identified books,Videos and Online courses.That will  uplevel your
                    Abilities and prepare you to use ML for your projects. start with our guided curriculums designed to increase
                     your knowledge , or choose your own path by exploring our resource library.
                </h5>
               </div> 

      </div>
      <div class="ml-landing ml-landing-right">
       <img src="/images/ml-front.svg" alt="">

      </div>

    </section>

    <section class="ml-navigator">
        <div class="ml-navigator-elements">
            <img height="156px" width="156px" src="/images/books.svg" alt="">
            <h2>Books</h2>
        </div>
        <div class="ml-navigator-elements">
            <img height="156px" width="156px" src="/images/courses.svg" alt="">
            <h2>Courses</h2>
        </div>
        <div class="ml-navigator-elements">
            <img height="156px" width="156px" src="/images/videos.svg" alt="">
            <h2>Videos</h2>
        </div>
        <div class="ml-navigator-elements">
            <img height="156px" width="156px" src="/images/tests.svg" alt="">
            <h2>Tests</h2>
        </div>
    </section>


    <section class="area-of-ml">
        <div class="area-ml-left">
              <img src="/images/area-photo.svg"     height="400px" width="400px" alt="">
        </div>

        <div class="area-ml-right">
                <div class="four-areas">The Four Areas of Machine Learning Education</div>
                <div class="four-points">
                   <li>Coding skills: Building ML models involves much more than just knowing ML 
                       concepts—it requires coding in order to do the data management, parameter 
                       tuning, and parsing results needed to test and optimize your model.
                   </li>


                   <li>Math and stats: ML is a math heavy discipline, so if you plan to modify 
                       ML models or build new ones from scratch, familiarity with the 
                       underlying math concepts is crucial to the process.
                   </li>


                  <li>
                     ML theory: Knowing the basics of ML theory will give you a foundation
                     to build on, and help you troubleshoot when something goes wrong.
                 </li>


                 <li>
                     Build your own projects: Getting hands on experience with ML is the best way to 
                     put your knowledge to the test, so don't be afraid to dive in early with a
                     simple colab or 
                </li>
                </div>
        </div>
    </section>
     

    <section class="road-map">

            <div class="road-map-text">
                <h2>Ready To Start Practicing Machine Learning ?</h2>
                <p>Learn and apply fundamental machine learning concepts with the Crash Course, get real-world experience with the companion Kaggle competition, or visit Learn with Google AI to explore the full library of training resources.</p>

            </div>
            <div> <button class="btn-roadmap">
                Road Map
            </button> </div>






    </section>

    <section class="ml-courses ml-section">

        
        <div>
            <h1>ONLINE COURSES ON MACHINE LEARNINIG</h1>
        </div>
        <div>

            <div class="ml-courses">
                <a href="https://www.udemy.com/course/complete-machine-learning-and-data-science-zero-to-mastery/"  target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/ml/ml-course1.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/data-science-and-machine-learning-with-python-hands-on/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/ml/ml-course2.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/python-for-data-science-and-machine-learning-bootcamp/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/ml/ml-course3.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/machinelearning/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/ml/ml-course4.jpg" alt="">
                   </div>
                </a>
                  

            </div>

            <div class="ml-courses">
                <a href="https://www.udemy.com/course/clustering-classification-with-machine-learning-in-python/" target="_blank">
                 <div class="ml-courses-elements">
                     <img src="/images/ml/ml-course5.jpg" alt="">
                 </div>
                </a>

                <a href="https://www.udemy.com/course/the-data-science-course-complete-data-science-bootcamp/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/ml/ml-course6.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/python-for-machine-learning-data-science-masterclass/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/ml/ml-course7.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/machine-learning-course-with-python/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/ml/ml-course8.jpg" alt="">
                   </div>
                </a>
            </div>

        </div>
    </section>


    <section class="ml-courses-youtube ml-section">

        
        <div>
            <h1>TOP FREE COURSES</h1>
        </div>
        

            <div class="ml-courses-youtube">
                   <div class="ml-courses-elements">
                    <iframe style="border-radius: 10px;" width="309px" height="225px" src="https://www.youtube.com/embed/GwIo3gDZCVQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   </div>

                   <div class="ml-courses-elements">
                    <iframe style="border-radius: 10px;" width="309px" height="225px" src="https://www.youtube.com/embed/videoseries?list=PLLssT5z_DsK-h9vYZkQkYNWcItqhlRJLN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   </div>

                   <div class="ml-courses-elements">
                    <iframe style="border-radius: 10px;" width="309px" height="225px" src="https://www.youtube.com/embed/IoZGSQ07e8g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   </div>
                   <!-- <div class="ml-courses-elements"></div> -->
                  

            </div>

            
        
    </section>


    <section class="books">

        <div class="col">
            <div class="col-elements">
                <div class="img">
                    <img src="" alt="">
                </div>
                <div class="bookname"></div>
            </div>

            <div class="col-elements">
                 <div class="img"></div>
                <div class="bookname" ></div>
            </div>

            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>

        </div>
        <div class="col">
            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>

            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"  ></div>
            </div>

            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>
        </div>
        <div class="col">
            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>
            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>
            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>
        </div>
    </section>













    <section class="test">

    </section>
</main>


<%- include("../footer") -%>
