<%- include("../header") -%>




<%- include("../navigation") -%>


<main>
    <section class="ml-section-hero">
      <div class="ml-landing ml-landing-left">
           
                <div class="ml-heading">
                 
                    <span class="head-machine">GRAPHIC</span>
                    <span class="head-learning">DESIGNING</span>
                </div>
                <div class="ml-desc">
                <h5>To help you on Your Educational Path,We’ve identified books,Videos and Online courses.That will  uplevel your
                    Abilities and prepare you to use Graphic Design for your projects. start with our guided curriculums designed to increase
                     your knowledge , or choose your own path by exploring our resource library.
                </h5>
               </div> 

      </div>
      <div class="ml-landing ml-landing-right">
       <img src="/images/ml-front.svg" alt="">

      </div>

    </section>

    <section class="ml-navigator">
        <div class="ml-navigator-elements">
            <img height="156px" width="156px" src="/images/books.svg" alt="">
            <h2>Books</h2>
        </div>
        <div class="ml-navigator-elements">
            <img height="156px" width="156px" src="/images/courses.svg" alt="">
            <h2>Courses</h2>
        </div>
        <div class="ml-navigator-elements">
            <img height="156px" width="156px" src="/images/videos.svg" alt="">
            <h2>Videos</h2>
        </div>
        <div class="ml-navigator-elements">
            <img height="156px" width="156px" src="/images/tests.svg" alt="">
            <h2>Tests</h2>
        </div>
    </section>


    <section class="area-of-ml">
        <div class="area-ml-left">
              <img src="/images/area-photo.svg"     height="400px" width="400px" alt="">
        </div>

        <div class="area-ml-right">
                <div class="four-areas">The Four Areas of Graphic Designing Education</div>
                <div class="four-points">
                   <li>Have a good knowledge of typography and layout hierarchy: A graphic designer 
                    must know how to compose it. So it is easy to understand and display a 
                    clear message. Typography and fonts must be used accordingly that showcases the 
                    vibe of the product and service.
                   </li>


                   <li>Make it understandable: A design speaks its story “Graphic designers are essentially storytellers” 
                    truly said by Jenkins. It is quite clear that it should be easy to understand what 
                    it has to communicate.
                   </li>


                  <li>
                    Be a master in designing software’s: You need to be a master of software 
                    such as Adobe Illustrator, Adobe Photoshop, Adobe InDesign, 
                    After Effects, Corel Draw. These are the main highlighted software 
                    that is in use. One must be a master to operate this software.
                 </li>


                 <li>
                    Switch to use for UI/ UX design: Indeed, it doesn’t matter if you 
                    are not in use with this software. But a good knowledge of this will 
                    probably lead you to be worthy and a Bonus in your career plan.
                </li>
                </div>
        </div>
    </section>
     

    <section class="road-map">

            <div class="road-map-text">
                <h2>Ready To Start Practicing Graphic Design ?</h2>
                <p>Learn and apply fundamental Graphic Designing concepts with the Crash Course, get real-world experience with the companion Kaggle competition, or visit Learn with Google AI to explore the full library of training resources.</p>

            </div>
            <div> <button class="btn-roadmap">
                Road Map
            </button> </div>






    </section>

    <section class="ml-courses ml-section">

        
        <div>
            <h1>ONLINE COURSES ON GRAPHIC DESIGNING</h1>
        </div>
        <div>

            <div class="ml-courses">
                <a href="https://www.udemy.com/course/graphic-design/"  target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/graphic/gf-course1.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/become-a-professional-graphic-designer-udemy/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/graphic/gf-course2.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/graphic-design-for-beginners/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/graphic/gf-course3.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/canva-graphic-design-course/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/graphic/gf-course4.jpg" alt="">
                   </div>
                </a>
                  

            </div>

            <div class="ml-courses">
                <a href="https://www.udemy.com/course/illustrator-cc-2018-for-beginners-basics-tricks/" target="_blank">
                 <div class="ml-courses-elements">
                     <img src="/images/graphic/gf-course5.jpg" alt="">
                 </div>
                </a>

                <a href="https://www.udemy.com/course/learn-great-design-typography-color-photos-and-layout/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/graphic/gf-course6.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/graphic-design-masterclass-everything-you-need-to-know/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/graphic/gf-course7.jpg" alt="">
                   </div>
                </a>

                <a href="https://in.coursera.org/specializations/graphic-design" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/graphic/gf-course8.jpg" alt="">
                   </div>
                </a>
            </div>

        </div>
    </section>


    <section class="ml-courses-youtube ml-section">

        
        <div>
            <h1>TOP FREE COURSES</h1>
        </div>
        

            <div class="ml-courses-youtube">
                   <div class="ml-courses-elements">
                    <iframe style="border-radius: 10px;" width="309px" height="225px" src="https://www.youtube.com/embed/videoseries?list=PLYfCBK8IplO4E2sXtdKMVpKJZRBEoMvpn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   </div>

                   <div class="ml-courses-elements">
                    <iframe style="border-radius: 10px;" width="309px" height="225px" src="https://www.youtube.com/embed/videoseries?list=PLdWcYbFFqZr2vNb2XC4LmsbbjneZnbSwo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   </div>

                   <div class="ml-courses-elements">
                    <iframe style="border-radius: 10px;" width="309px" height="225px" src="https://www.youtube.com/embed/videoseries?list=PL9pkETrdJ0rZoid7XU1OmQ5zvPVQ0sRJl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   </div>
                   <!-- <div class="ml-courses-elements"></div> -->
                  

            </div>

            
        
    </section>


    <section class="books">

        <div class="col">
            <div class="col-elements">
                <div class="img">
                    <img src="" alt="">
                </div>
                <div class="bookname"></div>
            </div>

            <div class="col-elements">
                 <div class="img"></div>
                <div class="bookname" ></div>
            </div>

            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>

        </div>
        <div class="col">
            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>

            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"  ></div>
            </div>

            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>
        </div>
        <div class="col">
            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>
            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>
            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>
        </div>
    </section>













    <section class="test">

    </section>
</main>

<%- include("../footer") -%>


