<%- include("../header") -%>




<%- include("../navigation") -%>


<main>
    <section class="ml-section-hero">
      <div class="ml-landing ml-landing-left">
           
                <div class="ml-heading">
                 
                    <span class="head-machine">WEB</span>
                    <span class="head-learning">DEVELOPMENT</span>
                </div>
                <div class="ml-desc">
                <h5>To help you on Your Educational Path, We’ve identified books,Videos and Online courses that will uplevel your
                    Abilities and prepare you to use WEB Development for your projects. Start with our guided curriculums designed to increase
                    your knowledge or choose your own path by exploring our resource library.
                </h5>
               </div> 

      </div>
      <div class="ml-landing ml-landing-right">
       <img src="/images/ml-front.svg" alt="">

      </div>

    </section>

    <section class="ml-navigator">
        <div class="ml-navigator-elements">
            <img height="156px" width="156px" src="/images/books.svg" alt="">
            <h2>Books</h2>
        </div>
        <div class="ml-navigator-elements">
            <img height="156px" width="156px" src="/images/courses.svg" alt="">
            <h2>Courses</h2>
        </div>
        <div class="ml-navigator-elements">
            <img height="156px" width="156px" src="/images/videos.svg" alt="">
            <h2>Videos</h2>
        </div>
        <div class="ml-navigator-elements">
            <img height="156px" width="156px" src="/images/tests.svg" alt="">
            <h2>Tests</h2>
        </div>
    </section>


    <section class="area-of-ml">
        <div class="area-ml-left">
              <img src="/images/area-photo.svg"     height="400px" width="400px" alt="">
        </div>

        <div class="area-ml-right">
                <div class="four-areas">The Four Areas of Web Development Education</div>
                <div class="four-points">
                        <li>
                            Establish basic development skills: Before pursuing education, 
                            consider learning basic coding and design skills to create a 
                            strong foundation when beginning coursework. 
                            You can also take this time to complete self-paced modules and challenges.
                        </li>
   
                       <li>
                            Consider a training-focused program: If you prefer the shorter timeline and 
                            streamlined coursework, you can apply to a professional boot camp or 
                            certification program to quickly master the necessary skills and create 
                            a strong portfolio.
                       </li>
   
                       <li>
                        Develop your technical skills: As a web developer, you are required to
                         be an expert in three core areas: CSS, HTML and JavaScript. 
                         You are also required to learn about CSS and the different CSS
                          frameworks. You would also require to be good in various back-end
                           languages like Java, Ruby and PHP.
                       </li>
   
                       <li>
                        Create a portfolio of work: You can choose to complete personal projects, 
                        take freelance opportunities or create work during an internship or job
                         to build a portfolio that showcases your experience and expertise as a web developer.
                       </li>
                </div>
        </div>
    </section>
     

    <section class="road-map">

            <div class="road-map-text">
                <h2>Ready To Start Practicing Web Development ?</h2>
                <p>Learn and apply fundamental machine learning concepts with the Crash Course, get real-world experience with the companion Kaggle competition, or visit Learn with Google AI to explore the full library of training resources.</p>

            </div>
            <div> <button class="btn-roadmap">
                Road Map
            </button> </div>






    </section>

    <section class="ml-courses ml-section">

        
        <div>
            <h1>ONLINE COURSES ON WEB DEVELOPMENT</h1>
        </div>
        <div>

            <div class="ml-courses">
                <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/"  target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/webD/wd-course1.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/become-a-certified-web-developer/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/webD/wd-course2.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/design-and-develop-a-killer-website-with-html5-and-css3/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/webD/wd-course3.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/thecompletewebdeveloper/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/webD/wd-course4.jpg" alt="">
                   </div>
                </a>
                  

            </div>

            <div class="ml-courses">
                <a href="https://www.udemy.com/course/beginning-javascript/" target="_blank">
                 <div class="ml-courses-elements">
                     <img src="/images/webD/wd-course5.jpg" alt="">
                 </div>
                </a>

                <a href="https://www.udemy.com/course/the-complete-web-developer-course-2/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/webD/wd-course6.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/web-developer-course/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/webD/wd-course7.jpg" alt="">
                   </div>
                </a>

                <a href="https://www.udemy.com/course/the-advanced-web-developer-bootcamp/" target="_blank">
                   <div class="ml-courses-elements">
                       <img src="/images/webD/wd-course8.jpg" alt="">
                   </div>
                </a>
            </div>

        </div>
    </section>


    <section class="ml-courses-youtube ml-section">

        
        <div>
            <h1>TOP FREE COURSES</h1>
        </div>
        

            <div class="ml-courses-youtube">
                   <div class="ml-courses-elements">
                    <iframe style="border-radius: 10px;" width="309px" height="225px" src="https://www.youtube.com/embed/videoseries?list=PLu0W_9lII9agiCUZYRsvtGTXdxkzPyItg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   </div>

                   <div class="ml-courses-elements">
                    <iframe style="border-radius: 10px;" width="309px" height="225px" src="https://www.youtube.com/embed/videoseries?list=PLfqMhTWNBTe3H6c9OGXb5_6wcc1Mca52n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   </div>

                   <div class="ml-courses-elements">
                    <iframe style="border-radius: 10px;" width="309px" height="225px" src="https://www.youtube.com/embed/U9-GFVi4Uo4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   </div>
                   <!-- <div class="ml-courses-elements"></div> -->
                  

            </div>

            
        
    </section>


    <section class="books">

        <div class="col">
            <div class="col-elements">
                <div class="img">
                    <img src="" alt="">
                </div>
                <div class="bookname"></div>
            </div>

            <div class="col-elements">
                 <div class="img"></div>
                <div class="bookname" ></div>
            </div>

            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>

        </div>
        <div class="col">
            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>

            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"  ></div>
            </div>

            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>
        </div>
        <div class="col">
            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>
            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>
            <div class="col-elements"> 
                <div class="img" ></div>
                <div class="bookname"></div>
            </div>
        </div>
    </section>













    <section class="test">

    </section>
</main>

<%- include("../footer") -%>
