<%- include("header") -%>




<%- include("navigation") -%>






  <!-- ======================================== 
        Our Main Hero Section Start  
  ========================================  -->
  <main>
    <section class="section-hero">
      <div class="hero-main-left">
        <div class="headclubbed">
          <h1>
          <div class="quote-top">
             <div class="type">
                Take <span class="exp"> student experience</span></div>
         </div>

         <div class="quote-bottom">
              <div class="type2">to the next level</div>
        </div>
          </h1>
        
          <p class="headingtext">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy.
          </p>
        </div>
      </div>

      <div class="hero-main-right">
        <div
          id="carouselExampleInterval "
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="images/svg1.svg" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="images/svg2.svg" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="images/svg3.svg" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="images/svg4.svg" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="images/svg5.svg" class="d-block w-100" alt="..." />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev"
          >
            <span
              class="carousel-control-prev-icon"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleInterval"
            data-bs-slide="next"
          >
            <span
              class="carousel-control-next-icon"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </section>
  </main>

  <!-- ======================================== 
          Our Service Section Start  
    ========================================  -->
  <section class="section-services">
    <div class="hero">
      <h1>Find the best notes for your needs</h1>
    </div>

    <div class="department-name">
      <div class="departments">
        <a href="/first-year">
        <div class="department-elements cse">
          <div class="img">
            <img src="images/cse.svg" alt="" />
          </div>

          <div class="department-heading">CSE</div>
        </div>
    </a>
    <a href="/it">
    
        <div class="department-elements aerospace">
          <div class="img">
            <img src="images/it.svg" alt="" />
          </div>

          <div class="department-heading">IT</div>
        </div>
    </a>
    <a href="/aero">
      
        <div class="department-elements it">
          <div class="img">
            <img src="images/aero.svg" alt="" />
          </div>

          <div class="department-heading">Aero</div>
        </div>
      </a>
    <a href="/chemical">

    
        <div class="department-elements mechanical">
          <div class="img">
            <img src="images/chemical.svg" alt="" />
          </div>

          <div class="department-heading">Chemical</div>
        </div>
      </a>
    <a href="/chemical">

      
        <div class="department-elements chemical">
          <div class="img">
            <img src="images/mechatronics.svg" alt="" />
          </div>

          <div class="department-heading">Mechanical</div>
        </div>
      </a>
      
      </div>
    </div>
  </section>
<!-- ======================================== 
          Our feature Section Start  
    ========================================  -->
  <section class="section-features">
    <div class="section-features-left">
      <div class="section-features-left-top">
        <img src="images/photu.jpg" alt="" />
      </div>

      <div class="section-features-left-bottom">
        <h2>Videos recommended from trusted platform</h2>
        <div>
          We provide videos from trusted platforms and experienced mentors
          with an extensive experience
        </div>
      </div>
    </div>

    <div class="section-features-right">
      <div class="section-features-right-elements">
        <div class="section-features-right-elements-logo">
          <img src="images/boost.svg" alt="" />
        </div>
        <div class="section-features-right-elements-txt">
          <h2>Boost Your Academic Skills</h2>
          <div>
            Improve your acedemic skills by having access to all the study
            materials on a single platform
          </div>
        </div>
      </div>
      <div class="section-features-right-elements">
        <div class="section-features-right-elements-logo">
          <img src="images/produc.svg" alt="" />
        </div>
        <div class="section-features-right-elements-txt">
          <h2>Increase Your Productivity</h2>
          <div>
            Boost your productivity by having personalised content on your
            screen
          </div>
        </div>
      </div>
      <div class="section-features-right-elements">
        <div class="section-features-right-elements-logo">
          <img src="images/time.svg" alt="" />
        </div>
        <div class="section-features-right-elements-txt">
          <h2>Manage Time Effectively</h2>
          <div>
            Manage your time more effectively, with video lecture
            reccomendations related to your interests
          </div>
        </div>
      </div>
    </div>

  
  </section>

  <!-- ======================================== 
          Our courses Section Start  
    ========================================  -->
  <section class="section-course">
    <div class="section-course-heading">Top Courses</div>
    <!-- <div> -->
    <div class="course-name">
      <div class="course">
       <a href="/app">
        <div class="course-elements app">
          <div class="img">
            <img src="images/app.svg" alt="" />
          </div>

          <div class="course-heading">App Development</div>
        </div>
      </a> 
      <a href="/web">
      
        <div class="course-elements web">
          <div class="img">
            <img src="images/web.svg" alt="" />
          </div>

          <div class="course-heading">Web Development </div>
        </div>
      </a> 
      <a href="/cyber">
      
        <div class="course-elements cyber">
          <div class="img">
            <img src="images/cyber.svg" alt="" />
          </div>

          <div class="course-heading">Cyber Security</div>
        </div>
      </a> 
      <a href="/cpp">
      
        <div class="course-elements coding">
          <div class="img">
            <img src="images/cpp.svg" alt="" />
          </div>

          <div class="course-heading">Competitive Coding</div>
        </div>
      </a> 
      
        
        </div>
      </div>
    <!-- </div> -->


    <div class="course-name">
      <div class="course">
        <a href="/ml">
      
        <div class="course-elements ml">
          <div class="img">
            <img src="images/ml.svg" alt="" />
          </div>

          <div class="course-heading">Machine Learning</div>
        </div>
      </a> 

      <a href="/digital">
      
        <div class="course-elements dm">
          <div class="img">
            <img src="images/digital.svg" alt="" />
          </div>

          <div class="course-heading">Digital Marketing</div>
        </div>
      </a> 
      <a href="/photography">

      
        <div class="course-elements photography">
          <div class="img">
            <img src="images/photography.svg" alt="" />
          </div>

          <div class="course-heading">Photography</div>
        </div>
      </a> 
      <a href="/graphic">
      
        <div class="course-elements graphic">
          <div class="img">
            <img src="images/graphic design.svg" alt="" />
          </div>

          <div class="course-heading">Graphic design</div>
        </div>
      </a> 
      
        
        </div>
      </div>
    </div>
    </div>
  </section>

  <!-- ======================================== 
          Our Quora Section Start  
    ========================================  -->
  <section class="section-quora">
   <div class="section-quora-left">
     <div class="section-quora-left-item top">
      Get Answers To
      All Your Questions....
     </div>

     <div class="section-quora-left-item middle">
      The heart of MITQuora is questions — questions that affect the students, questions that explain recent trends of technology, questions that guide important academic decisions, and questions that provide insights into why other people think differently. MITQuora is a place where you can ask questions that matter to you and get answers from people who have been there and done that. 
     </div>

     <div class="section-quora-left-item bottom">
      <div class="icons">
          <div class="answer-share-delete">
                <div class="answer">
                  
                    <img src="images/answer.svg" alt="">
                    <div class="answertxt"> Answers</div>

                </div>

                <div class="share">
                  <img src="images/share.svg" alt="">
                  <div class="sharetxt"> Share</div>



                </div>

                <div class="delete">
                  <img src="images/delete.svg" alt="">
                  <div class="deletetxt">
                    delete
                  </div>


                </div>
          </div>

          <div class="view-edit-report">
            <div class="view">
                <img src="images/view.svg" alt="">
                <div class="answertxt"> View</div>

            </div>

            <div class="edit">
              <img src="images/edit.svg" alt="">
              <div class="sharetxt"> Edit</div>



            </div>

            <div class="report">
              <img src="images/report.svg" alt="">
              <div class="deletetxt">
                report
              </div>


            </div>
      </div>
    </div>
     </div>

   </div>
   <div class="section-quora-right">
    <img src="images/MIT Quora.svg" alt="">


   </div>
  </section>

  <!-- ======================================== 
          Our All we can learn Section Start  
    ========================================  -->
  <section class="section-learn">
    <div class="hero">
      <h1 class="sliderheading">ALL YOU CAN LEARN</h1>
    </div>
  </section>

  <!-- ======================================== 
          Our Slider Section Start  
    ========================================  -->
  <section class="section-slider">
    <div class="container1">
      <div class="slide-container">
        <div class="slide-image">
          <img src="images/plink-img.png" alt="" />
        </div>

        <div class="slide-image">
          <img src="images/plink-img.png" alt="" />
        </div>

        <div class="slide-image">
          <img src="images/plink-img.png" alt="" />
        </div>

        <div class="slide-image">
          <img src="images/plink-img.png" alt="" />
        </div>
      </div>
    </div>
  </section>

 
























<%- include("footer") -%>
