<%- include("../header")-%>
<%- include("../navigation")-%>

<section class="complex-page">

    <div class="complex-page-row  stream-heading">
        <div class="stream-heading-left">
            <h2>Computer Science Enginerring</h2>

        </div>
        <div class="year-selection">
            <div class="years"><a href="/first-year">First Year</a></div>
            <div class="years"><a href="/second-year">Second Year</a></div>
            <div class="years"><a href="/third-year">Third Year</a></div>
            <div class="years"><a href="/fourth-year">Fourth Year</a></div>
            
        </div>

    </div>
    <div class="complex-page-row notes-content">
        <div>
            <div class="Sub">Subjects</div>

            <div class="subjects">
            
                <<div class="subjects-name">
                    <a href="/cse-dm">Discreate Mathematics</a>
                </div>
                
                <div class="subjects-name">
                    <a href="/cse-ipc">IPC</a>
                </div>
                <div class="subjects-name">
                    <a href="/cse-ds">Data Structures</a>
                </div>

                <div class="subjects-name">
                    <a href="/cse-comi">COMI</a>  
                </div>

                <div class="subjects-name">
                    <a href="/cse-eco">Economics and Finance </a>    
                </div>

                <div class="subjects-name">
                    <a href="/cse-adsa">ADSA</a>
                </div>


                <div class="subjects-name">
                    <a href="/cse-ictt">ICTT</a></div>
                <div class="subjects-name">
                    <a href="/cse-sepm">SEPM</a></div>
                <div class="subjects-name">
                    <a href="/cse-dccn">DCCN</a></div>
                <div class="subjects-name">
                    <a href="/cse-toc">TOC</a></div>

             </div>
        </div>
        <div class="units">
            
            <div class="unit">
                <div class="unittag">
                    <h2>Unit-1</h2>
            </div>
            <div class="unit-pdf">
                <div>
            <a href="https://drive.google.com/file/d/1hTXXNTz5kcmSfnLrlIo-izgeLRGwRq2v/view" target="_blank">
                <img class="pdf" src="/images/pdf-file.png" alt="a" type="application/pdf">
                <!-- <h3>Matrices</h3> -->
            </a>
            </div>
           </div>
           
            <!-- <p>Open a PDF file <a href="https://drive.google.com/file/d/1_yeKnBke4THFLsGnjhD4jwu3fvPUmnJF/view" target="_blank">example</a>.</p> -->
         
            </div>
            <div class="unit">
                <div class="unittag">
                    <h2>Unit 2</h2>
                </div>
                <div class="unit-pdf">
                    <div>
                    <a href="https://drive.google.com/file/d/1HaXw_4z1jyo0tPMWfhsrALN12U9Hu-sH/view" target="_blank">
                        <img class="pdf" src="/images/pdf-file.png" alt="a" type="application/pdf">
                        <!-- <h3>Eigen val. and vec.</h3> -->
                    </a>
                    </div>
                </div>
                   
            </div>
            <div class="unit">
                <div class="unittag">
                    <h2>Unit-3</h2>
                </div>
                <div class="unit-pdf">
                    <div>
                    <a href="https://drive.google.com/file/d/1cNqTfMmddrUbdo6AHUBfhVeFTIh1EOie/view" target="_blank">
                        <img class="pdf" src="/images/pdf-file.png" alt="a" type="application/pdf">
                        <!-- <h3>Unit-3</h3> -->
                    </a>
                    </div>
                </div>
                
            </div>
            <div class="unit">
                <div class="unittag">
                    <h2>Unit-4</h2>
                </div>
                <div class="unit-pdf">
                    <div> <a href="https://drive.google.com/file/d/1Prnamfb1SZDYo1noP9LDIa9l9CgWz705/view" target="_blank">
                        <img class="pdf" src="/images/pdf-file.png" alt="a" type="application/pdf">
                        <!-- <h3>Unit-4-1</h3> -->

                    </a> </div>
                </div>
            </div>


            <div class="unit">
                <div class="unittag">
                    <h2>Unit-5</h2>
                </div>
                <div class="unit-pdf">
                    <div>
                    <a href="https://drive.google.com/file/d/1NLBLG6Og8uSv6St1QHcaqhPiJ1L_4drz/view" target="_blank">
                        <img class="pdf" src="/images/pdf-file.png" alt="a" type="application/pdf">
                        <!-- <h3>Unit-5</h3> -->
                    </a>
                    </div>
                </div>
            </div>
        </div>

    </div>



</section>

<%- include("../footer")-%>


