<%- include("../header")-%>
<%- include("../navigation")-%>

<section class="complex-page">

    <div class="complex-page-row  stream-heading">
        <div class="stream-heading-left">
            <h2>Computer Science Enginerring</h2>

        </div>
        <div class="year-selection">
            <div class="years"><a href="/first-year">First Year</a></div>
            <div class="years"><a href="/second-year">Second Year</a></div>
            <div class="years"><a href="/third-year">Third Year</a></div>
            <div class="years"><a href="/fourth-year">Fourth Year</a></div>
            
        </div>

    </div>
    <div class="complex-page-row notes-content">
        <div >
            <div class="Sub">Subjects</div>

            <div class="subjects">
            
                <div class="subjects-name">
                    <a href="/cse-lac">Linear Algebra and Calculas</a>
                   
                
                
                </div>
                <div class="subjects-name">
                    <a href="">Engineering Physics</a>
                </div>
                <div class="subjects-name">
                    <a href="">Basic of Electrical and Electronics Engineering</a>
                  
                
                
                </div>
                <div class="subjects-name">
                    <a href="">Engieering Graphics</a>
                  
                </div>
                <div class="subjects-name">
                    <a href="">English Communicaiton for Engineers</a>
                    
                </div>
                <div class="subjects-name">
                    <a href="">Engineering Chemistry</a>
                  
                
                </div>
                <div class="subjects-name">
                    <a href="">Programming for Problem Solving</a></div>
                <div class="subjects-name">
                    <a href="">Programming Lab</a></div>
                <div class="subjects-name">
                    <a href="">Engineering Workshop</a></div>
                <div class="subjects-name">
                    <a href="">Physics Laboratory</a></div>
                <div class="subjects-name">
                    <a href="">BEEE Lab</a></div>
                <div class="subjects-name">
                    <a href="">Chemistry Lab</a></div>
                <div class="subjects-name">
                    <a href="">DELD Lab</a></div>
             </div>
        </div>
        
    </div>












</section>










<%- include("../footer")-%>


